<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Curiote blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" src="images\Curiote (2).png">
      </div>
          <!-- 6 -->
          <p class="navbar-nav" id="home"><a href= "/">HOME</a></p>
          <p class="navbar-nav" id="about"><a href="/about">ABOUT US</a></p>
          <p class="navbar-nav" id="contact"><a href="/contact">CONTACT</a></p>
          <a href="/compose">
            <button class="btn-compose" type="button">COMPOSE</button>
          </a>

    </div>
  </nav>

  <body>
    <div class="container">
